<div role="region" aria-label="Announcement bar" class="bg-orange-300 w-full py-2.5 text-center">
  {{ section.settings.announcement_desc }}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar",
  "settings": [
    {
      "type": "richtext",
      "id": "announcement_desc",
      "label": "Write your shop announcement description",
      "default": "<p>Stylish, responsive announcement bar powered by Tailwind CSS for Shopify.</p>"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "settings": {}
    }
  ]
}
{% endschema %}
