<style>
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    display: inline-flex;
    animation: marquee 50s linear infinite;
    will-change: transform;
  }
</style>


<div class="w-full bg-amber-300 py-2.5">
  <div class="container mx-auto">
    <div class="w-full overflow-hidden whitespace-nowrap">
        {% if section.blocks.size > 0 %}
          {% assign blocks_exist = true %}
        {% else %}
          {% assign blocks_exist = false %}
        {% endif %}
        
        {% for row in (1..2) %}
          <div class="animate-marquee">
            {% if blocks_exist %}
              {% for block in section.blocks %}
                <span class="inline-flex items-center mx-10">
                  <span class="text-xl text-white uppercase font-Outfit md:font-medium whitespace-normal">
                    {{ block.settings.block_text }}
                  </span>
                </span>
              {% endfor %}
            {% else %}
              <span class="inline-flex items-center mx-10">
                <span class="text-xl text-white whitespace-normal">
                  Announcement text
                </span>
              </span>
            {% endif %}
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Marquee Announcement Bar",
  "tag": "section",
  "class": "announcement-marquee",
  "settings": [],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement Text",
      "settings": [
        {
          "type": "text",
          "id": "block_text",
          "label": "Text",
          "default": "Your announcement here"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Marquee Announcement Bar",
      "category": "Announcement",
      "blocks": [
        { "type": "announcement", "settings": { "block_text": "Welcome To Our Store" } },
        { "type": "announcement", "settings": { "block_text": "25% Offer is Running" } },
        { "type": "announcement", "settings": { "block_text": "Free shipping offer" } },
        { "type": "announcement", "settings": { "block_text": "Winter seal is coming" } }
      ]
    }
  ]
}
{% endschema %}
